* {
    box-sizing: border-box;
}


.container{
    width:50%;
    margin: 10% auto;
    border:2px solid black;
    border-radius:10px;
display:flex;
}

.left{
    display:inline-block;
    width:35%;
background-color: pink;
border-radius:10px;
padding:20px;

}
.right{
    display:inline-block;
    width:64.6%;
    padding:20px;
    text-align:left;
   border-radius:15px;
    height:auto;
}
.pair{
    padding:2px;
    margin:5px;
}
input{
    display:block;
    margin:10px;
    font-size: 15px;
    width:75%;
    border:none;
    border-bottom:2px solid black;
padding:5px;
}
label{
    font-size:13px;
    line-height: 0em;
}
p{
    font-size: 17px;
    line-height: 0em;
}
button{
    margin:20px;
    width:75%;
    font-size: 20px;
    background-color: #4527a0;
    color:white;
}