*{
    box-sizing: border-box;
}

.container{
 width:50%;
    border-radius:10px;
    border:2px black solid;
    height:50vh;
box-shadow:10px 15px 15px #5d6b71;
margin:20vh auto;
    
}

.left{
    width:50%;
    display:inline-block;
    padding:20px;
    height:100%;
    text-align:center;
    overflow:hidden;
}
.right{
width:49.4%;
    color:white;
    background-color: #29b6f6;
display:inline-block;
text-align: center;
height:100%;
border-radius:10px;
overflow:hidden;
}
input{
    display:block;
    margin:10px auto;
    text-align:center;
    height:30px;
    border-radius:5px;

}

button{
    display:block;
    margin: 15px auto;
    border-radius:4px;
    height:10%;

}
h1{
    line-height: 10px;
    margin:20% auto;
}

