* {
   
  box-sizing:border-box;

}

.container{
display:block;
    border:solid grey 2px;
    border-radius:5%;
 margin:40px auto;
 padding:20px;
 justify-content:center;
 align-items:center;
 background:#80cbc4;
 width:30vw;
 
 box-shadow:5px 10px 50px;
}

h2{
  text-align:center;
  
}

.form{
    margin:40px auto;

}
p{
   margin:10px 30px ;
   padding:5px;
}

span{
  text-align:center;
}

#button{
margin-left:340px;
font-size: 50px;
}
button{
    height:50px;
    width:100px;
    border-radius:5px;

}
p{
    display:block;
}

label{
    width:150px;
    display:inline-block;
}
#t{

  margin-left:400px;

}
input, textarea{
border-radius:3px;
height:30px;
}

#table-cont{
display:flex;
align-items:center;

}
#table{
    margin-top:20px;
}